# ------------------------
# Maven
# ------------------------
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# ------------------------
# IntelliJ IDEA
# ------------------------
.idea/
*.iml
*.iws
*.ipr
out/

# ------------------------
# Logs / relatórios temporários
# ------------------------
*.log
*.tmp
allure-results/
allure-report/
allure-reports/

# ------------------------
# Configs locais (não versionar!)
# ------------------------
src/test/resources/environments/local.properties

# ------------------------
# VS Code (caso use também)
# ------------------------
.vscode/
